.activity-container{
    display:grid;
    grid-template-columns: 4fr 1fr;
}
.excersize-container{
    display: grid;
   grid-template-columns: repeat(3,1fr);
   
}
.info p{
    margin:0;
}
.info img{
    border-radius: 50%;
}