.activity-container{
    display:grid;
    grid-template-columns: 4fr 1fr;
}
.excersize-container{
    display: grid;
   grid-template-columns: repeat(3,1fr);
   
}
.info{
    padding:10px;

}
.info h5{
    margin:0;
}
.info img{
    border-radius: 50%;
}

@media screen and (max-width:576px) {
    .excersize-container{
        display:grid;
      grid-template-columns: repeat(1,1fr);
    }
    
}

@media screen and (min-width:576px) and (max-width:992px){
    .excersize-container{
       display:grid;
       grid-template-columns: repeat(2,1fr);
    }
    
}