.time-button{
    padding:15px;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
    
}
.time-button:hover{
background-color: #E83330;
color:#ffffff;

}
.exercize {
    padding: 10px;
    background-color: #E83330;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
}
.break{
    padding: 10px;
    background-color: #E83330;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
}