.product img{
    width:380px;
    height:300px;
    border-radius: 8px;;
}
.product{
    height:450px;
    width:380px;
   border-radius: 8px;
    border: 1px solid #95A0A7;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
    position: relative;
}
.product-name{
    font-weight: 600;
    font-family: lato;
}

.activity-btn{
    width: 100%;
background-color: #E83330;
color:white;
bottom: 0;
border: none;
border-radius: 8px;


}
.activity-btn:hover{
    background-color: rgb(120, 17, 17);
}


@media screen and (max-width:576px) {
    .product{
        display:grid;
      grid-template-columns: repeat(1,1fr);
    }
    
}

@media screen and (min-width:576px) and (max-width:992px){
    .product{
       /* display:grid;
       grid-template-columns: repeat(2,1fr); */
    }
    
}

